setuptools==75.2.0
torch==2.4.0
torchvision==0.19
fschat==0.2.36
transformers==4.45.2
accelerate
vllm==0.6.3
git+https://gitee.com/liuyu_1997/lmdeploy.git#egg=lmdeploy # lmdeploy==0.6.0
openai==1.44.0
loguru
fastapi==0.114.1
infinity-emb[all]==0.0.53
git+https://gitee.com/liuyu_1997/ffmpy.git # 解决setuptools最新版本导致的重大事故
gradio==4.26.0
streamlit==1.39.0